@media screen and (max-width:550px) {
    body
    {
        margin:0 ;
        padding: 0;
        font-size: 2vh;

    }
    .container
    {
        background-color: white;
        width: 100%;
        border-radius: 0;
    }
    .heading
    {
        margin: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        color: rgb(46, 45, 45);
    }
   img
   {
    margin: 0;
    width: 100%;
    border-radius: 0;
    height: 200px;
   }
   .para1
    {
        /* font-size: 2.5vh; */
        /* font-family: 'Montserrat', sans-serif; */
        margin: 25px;
        line-height: 28px;
        font-weight: lighter;
        
    }
    .duration
    {
        background-color: #F8EDFF;
        margin-left: 25px;
        margin-right: 50px;
        border-radius:10px ;
        height: 200px;
    }
    .duration dl
    {
        line-height: 30px;
        padding-top: 15px;
        margin-left: 25px;
        letter-spacing: 1.32px;
    }
    .Ingredients
    {
        margin-left: 25px;
    }
    hr
    {
        width: 80%;
    }
    .instructions
    {
        margin-left: 25px;
        margin-right: 30px;
    }
    .Nutrition
    {
        margin-left: 25px;
        margin-right:30px ;
    }
    .Nutrition .table
    {
        margin-left: 40px;
        margin-right: 40px;
    }
}